body {
  background-color: rgb(1, 92, 78);
  font-family: arial;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: rgb(241, 241, 67);
  text-align: center;
}
h3 {
  color: rgb(210, 130, 25);
  text-align: center;
}
input {
  font-size: 18px;
  padding: 8px;
  border-radius: 2px;
  border: none;
}
.add-button {
  font-size: 18px;
  font-weight: bold;
  background-color: grey;
  border: none;
  border-radius: 5px;
}
.todo-input-date {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 1px;
  row-gap: 20px;
  justify-content: center;
  align-items: stretch;
}
.display-result {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  row-gap: 10px;
  align-items: center;
  color: white;
  font-size: 18px;
}
.delete-button {
  background-color: rgb(139, 9, 0);
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
}
span {
  color: rgb(250, 42, 42);
}
